<% if @mr.open? or @mr.needs_rebase? or @mr.general_comments? %>
<h2 class="comment">General Comments</h2>
<% end %>

<% has_many_versions = patches.count > 1 %>
<% patches.each_with_index do |patch, i| %>
  <% if i != 0 and has_many_versions and should_show_patch_comment_divisor(patch, @patch) %>
    <h3 class="comment-patch-update"><span>Patch updated, <%= patch_name(patch) %></span></h2>
  <% end %>

  <% if patch != @patch %>
    <% patch.comments.includes(:user).code.group_by(&:location).each do |_location, comments|  %>
    <%= render partial: 'code_comment_recap', locals: { comments: comments, patch: patch } %>
    <% end %>
  <% end %>

  <% patch.comments.includes(:user).general.each do |comment|  %>
    <%= render partial: 'comment', locals: { comment: comment } %>
  <% end %>
<% end %>

<div class="comment-box">
<textarea class="comment" placeholder="Leave a comment" name="comments[0]"></textarea>
</div>
