<div class="code-review-header">Patch comments</div>
<div class="code-review-container">
  <table class="code-review">
    <% comments = patch.comments.root %>
    <% if comments.present? %>
    <tr class="comment">
      <td colspan="2">
        <%= "\uf086 #{comments.count}" if comments.count > 1 %>
      </td>
      <td>
        <% comments.each do |comment|  %>
          <div>
            <%= image_tag gravatar_url(comment.user), class: 'avatar' %>
            <div class="comment-header"><%= comment.user.name %></div>
            <div class="comment-body"><%= comment.content %></div>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3" class="add-comment">
        <textarea placeholder="Leave a comment" name="comments[0]"></textarea>
      </td>
    </tr>
  </table>
</div>
