<% if @patch.comments.general.any? or @mr.open? or @mr.needs_rebase? %>
<h2 class="comment">General Comments</h2>
<% end %>

<% patch.comments.general.each do |comment|  %>
  <div class="comment">
    <%= image_tag gravatar_url(comment.user), class: 'avatar' %>
    <div class="comment-header"><%= comment.user.name %> <span>wrote <%= time_ago_in_words(comment.created_at) %> ago</span></div>
    <div class="comment-body"><%= comment.content %></div>
  </div>
<% end %>

<% if @mr.open? or @mr.needs_rebase? %>
  <textarea class="comment" placeholder="Leave a comment" name="comments[0]"></textarea>
<% end %>
