<% if @patch.comments.general.any? or @mr.open? or @mr.needs_rebase? %>
<h2 class="comment">General Comments</h2>
<% end %>

<% patch.comments.general.each do |comment|  %>
  <%= render partial: 'comment', locals: { comment: comment } %>
<% end %>

<% if @mr.open? or @mr.needs_rebase? %>
  <textarea class="comment" placeholder="Leave a comment" name="comments[0]"></textarea>
<% end %>
