- if @mr.open? or @mr.needs_rebase? or @mr.general_comments?
  %h2.comment General Comments

- has_many_versions = patches.count > 1
- patches.each_with_index do |patch, i|
  - if i != 0 and has_many_versions and should_show_patch_comment_divisor(patch, @patch)
    %h3.comment-patch-update
      %span
        Patch updated, #{patch_name(patch)}
  - patch.comments.includes(:user).general.each do |comment|
    = render partial: 'comment', locals: { comment: comment }

.comment-box
  %textarea.comment{ name: 'comments[0]' }
  .comment-controls
    %span{ data: { balloon: "Merge requests can't be accepted with open blocker issues.", balloon_pos: 'right' } }
      %input#blocker_0{ type: 'checkbox', value: 1, name: 'blockers[0]' }
      %label{ for: 'blocker_0' } Blocker issue?
