<% if @mr.patches.count > 1 %>
<section class="patch-history">
  <h2>Patch version log</h2>
  <ol>
    <% @mr.patches.each_with_index do |patch, i| %>
      <% patch_name = i.zero? ? 'First version' : patch.description %>
      <% if (i + 1) == @version %>
        <li><%= patch_name %></li>
      <% else %>
        <li><%= link_to patch_name, project_merge_request_path(@project, @mr, version: (i + 1))  %></li>
      <% end %>
    <% end %>
  </ol>
</section>
<% end %>

<% unless @patch.integration_log.blank? %>
<section class="integrationlog">
<h2>Integration log</h2>
<code><%= @patch.integration_log %></code>
</section>
<% end %>
