<% if @mr.patches.count > 1 %>
<section class="patch-history">
  <h2>Patch version log</h2>
  <ol>
    <% if current_version == 1 %>
      <li>First Version</li>
    <% else %>
      <li><%= link_to 'First version', project_merge_request_version_path(@project, @mr, 1) %></li>
    <% end %>

    <% @mr.patches.to_a[1..-1].each_with_index do |patch, i| %>
      <% if (i + 2) == current_version %>
        <li><%= patch.comment.content %></li>
      <% else %>
        <li><%= link_to patch.comment.content, project_merge_request_version_path(@project, @mr, (i + 2))  %></li>
      <% end %>
    <% end %>
  </ol>
</section>
<% end %>

<% unless @patch.integration_log.blank? %>
<section class="integrationlog">
<h2>Integration log</h2>
<code><%= @patch.integration_log %></code>
</section>
<% end %>
