= semantic_ui_form(:merge_request, method: :get) do |f|

  %span
    Filter merge requests authored by
    = f.inline_dropdown(:author, options: member_options, name: 'author', value: params[:author])
    reviewed by
    = f.inline_dropdown(:reviewer, options: member_options, name: 'reviewer', value: params[:reviewer])
    targeting
    = f.inline_dropdown(:target_branch, options: target_branch_options, name: 'target_branch', value: params[:target_branch])
    \.

  .ui.input.fluid.action
    %input{ type: 'text', name: 'subject', value: params[:subject], placeholder: 'Subject contents'}
    %button.ui.button.primary Search
