<h1>Pending merge requests for <%= @project.name %></h1>

<%= render partial: 'list', locals: { mrs: @mrs } %>

<p>See <%= link_to 'old/accepted/rejected code reviews', old_ones_project_merge_requests_path(@project) %>.</p>
