<h1>Closed merge requests for <%= @project.name %></h1>

<%= render partial: 'list', locals: { mrs: @mrs, title: ['Finished review', 'Finished reviews'] } %>

<p>See <%= link_to 'pending code reviews', project_merge_requests_path(@project) %>.</p>
