.ui.raised.segment.left.aligned
  = semantic_ui_form(resource, as: resource_name, url: password_path(resource_name)) do |f|
    = f.email :name, autofocus: true, placeholder: 'Your registered e-mail address', label: 'We can send a new one to your e-mail'
    %button.ui.fluid.large.primary.submit.button Reset password!
