%h1 Edit Project

= render partial: 'form', locals: { action: 'update' }

.ui.basic.modal
  .ui.icon.header
    %i.trash.alternate.icon
    Destroy Project!?
  .content
    %p By destroying a project it will be lost <strong>forever</strong>, are you sure?
  .actions
    .ui.green.cancel.inverted.button
      %i.remove.icon
      No
    .ui.red.basic.ok.inverted.button
      %i.checkmark.icon
      Yes, destroy it!
