<h1>Edit Project</h1>

<%= link_to 'Destroy project', @project, method: :delete, data: { confirm: 'Are you sure?' }, id: 'project_destroy', class: 'reject button' %>

<%= render partial: 'form', locals: {action: 'update'} %>

<%= print_errors :project %>
