<h1>Projects</h1>

<%- if current_user.projects.empty? %>
    <p>There are no projects for you :-(</p>
<%- else %>
<ul>
    <%- current_user.projects.each do |p| %>
        <li><%= link_to p.name, project_path(p) %></li>
    <%- end %>
</ul>
<%- end %>

<p><%= link_to 'Create project', new_project_path %></p>
