<h1>New Project</h1>

<p>By creating a new project you will be able to push merge requests from reviewit command line interface and review them from this web interface... that's all!</p>

<%= render partial: 'form', locals: {action: 'create'} %>

<%= print_errors :project %>
