%h1 New Project

%p
  By creating a new project you will be able to push merge requests from reviewit command line interface and review
  them from this web interface... that's all!

= render partial: 'form', locals: { action: 'create' }
