<div class="alert alert-danger" role="alert">
  <p style="font-size: 48px;"><strong>404 Not Found</strong></p>
  <strong>Oops!</strong> The page you requested was not found! <a href="#" onclick="history.back();" class="alert-link">Back to Home</a>.
<div>
