<div class="alert alert-danger" role="alert">
  <p style="font-size: 48px;"><strong>500 Internal Server Error</strong></p>
  <strong>Oops!</strong> An internal error occurred! <a href="#" onclick="history.back();" class="alert-link">Back to Home</a>.
<div>
