<h1><%= @code %>!</h1>

<p>
<%=
case @code
when '404' then 'Sorry, the page you are looking for was not found.'
else 'Congrats, you just found a bug!!</p><p>i.e. an internal server error occurred and this is the better output we can give to you.'
end.html_safe
%>
</p>

<p><%= link_to 'Gimme out of here!', root_path %>.</p>
