body {
  background-color: #f7f7f7;
  overflow-y: scroll;
}

label em {
  font-weight: normal;
  padding-left: 5px;
}

code {
  color: black;
  font-family: monospace;
  padding: 3px;
  border-radius: 4px;
}

input[type=checkbox] ~ label {
  cursor: pointer !important;
}

:focus {
  outline: 0;
}

.right-floated {
  float: right;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
 animation: rotation 2s linear infinite;
}
