<h1><%= @mr.subject %></h1>

<%= render partial: 'merge_requests/summary', locals: { version: @version } %>

<p><em>You are seem an outdated version of this merge request</em></p>

<%= render partial: 'merge_requests/history', locals: { current_version: @version } %>

<%= render partial: 'merge_requests/diff', locals: { patch: @patch } %>

