html {
  overflow-y: scroll;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #555459;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  min-height: 100vh;

  font-family: sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

body > div.content {
  -webkit-flex: 1;
  flex: 1;
}

footer {
  color: #ccc;
  padding: 20px 0px 10px 0px;
  font-size: 12px;
  font-style: italic;
  text-align: center;

  a {
    color: #bbb;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

#header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;

  .content {
    background-image: image-url('logo-small.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
  }

  .user-nav {
    text-align: right;
    float: right;

    i.fa {
      padding-left: 10px;
      font-size: 20px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.content {
  width: 980px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 24px;
}

.fa.ok {
  color: green;
}

.fa.fail {
  color: red;
}

.clickable {
  cursor: pointer;
}

code {
  font-size: 12px;
  font-family: monospace;
  background-color: #f8f8f8;
  padding: 3px;
  border-radius: 4px;
}

form label {
  text-align: left;
}

input, textarea {
  margin-bottom: 10px;
  min-width: 400px;
  display: block;
}

@mixin button($color: #777777, $bordercolor: #dcdcdc, $bgcolor1: #ededed, $bgcolor2: #dfdfdf) {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, $bgcolor1 5%, $bgcolor2 100%);
  border-radius: 6px;
  border: 1px solid $bordercolor;
  display: inline-block;
  cursor: pointer;
  color: $color;
  font-family:arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  line-height: normal;
  min-width: 0px;

  &:hover {
    background: linear-gradient(to bottom, $bgcolor2 5%, $bgcolor1 100%);
  }

  &:active {
    position:relative;
    top:1px;
  }
}

input[type=submit], input[type=button], .button {
  @include button;

  &.accept, &.push-comments {
    @include button(white, #83c41a, #b8e356, #a5cc52)
  }

  &.reject {
    @include button(white, #d83526, #fc8d83, #e4685d)
  }
}


.field_with_errors > input {
  background-color: #fce4e4;
}

p.error {
  font-weight: bold;
  color: #d83526;
}

#error_tips .tpd-skin-dark .tpd-background-content,
#error_tips tpd-skin-dark .tpd-background-title {
  background-color: red;
}

.path {
  font-weight: 800;
}
.path a {
 text-decoration: none;
}

a:hover {
  color: #439fe0;
  text-decoration: underline;
}
a {
  color: #2a80b9;
  text-decoration: none;
}

textarea, input[type=email], input[type=password], input[type=text], ul.tagit {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  line-height: 20px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 15px;
  padding: 4px;
  transition: border linear .2s,box-shadow linear .2s;

  &:focus {
    outline: none;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.3);
    border:1px solid #AAA;
  }
}

label {
  font-weight: bold;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  line-height: 21px;
  padding: 0px;
  font-weight: normal;
}

input[type=checkbox] + label:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 21px;
  background-image: image-url('checkbox.png');
  vertical-align: text-bottom;
  margin-right: 4px;
}

input[type=checkbox]:checked + label:before {
  background-image: image-url('checkbox.png');
  background-position: 0px -21px;
}

.pagination {
  text-align: right;
  margin-top: 10px;
}

.required:after {
  content: '*';
  color: red;
}

img[src^="/assets/emojis/"] {
  width: 22px;
  height: 22px;
}

.markdown {
  code {
    color: #c25;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 0 3px
  }

  pre {
    background-color: #fbfaf8;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;

    code {
      color: #333;
      border: none;
      background-color: transparent;
    }
  }
}
