.devise {
 display: -webkit-flex;
 display: flex;

  #logo {
    text-align: center;
  }

 .content {
   width: 400px;
   margin: auto;
   padding: 10px;
   flex: 0;
   -webkit-flex: 0;

  h1 {
    text-align: center;
  }

  .submit {
    text-align: center;
  }

  .links {
    text-align: right;
  }

  input[type=email], input[type=password], input[type=text] {
    width: 100%;
  }

  form > div:last-child {
   text-align: right;
  }
 }
}
