// Place all the styles related to the merge_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

pre.message {
  font-family: sans-serif;
  white-space: pre-wrap;
}

.merge-bar {
  margin-top: 20px;
  .comment {
    margin-left: 50px;
  }

  input[type=submit].push-comments {
    float: right;
  }
}

.code-review-header {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 4px 4px 0px 0px;
  margin-top: 40px;
  clear: both;

  .flag {
    font-weight: normal;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    font-size: 10px;
    background-color: white;
    margin-right: 2px;
  }

  .new {
    color: green;
    border-color: green;
  }

  .chmod-changed {
    color: blue;
    border-color: blue;
  }

  .deleted {
    color: red;
    border-color: red;
  }

  .renamed {
    color: blue;
    border-color: blue;
  }
}

.code-review-container {
  overflow-x: scroll;
  border: 1px solid #ccc;
  border-radius: 0px 0px 4px 4px;
}

.del {
  background-color: #fdd;
}

.add {
  background-color: #cfd;
}

.info {
  color: #ccc;
  background-color: #fafafa;
}

.snippet {
  font-family: monospace;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0px 6px 0px 6px;
}

.snippet-container {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.code-comment-recap {
  margin-top: 10px;
  padding-left: 20px;
}

.code-review {
  width: 100%;
  border-spacing: 0px;
  color: #333;

  th {
  }

  tr > td:nth-child(1), tr > td:nth-child(2) {
    text-align: right;
    background-color: whitesmoke;
    border-right: 1px solid #ccc;
  }
  td {
    font-family: monospace;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0px 6px 0px 6px;
  }
  td:last-child {
    width: 100%;
  }
  .add > td:nth-child(1), .add > td:nth-child(2) {
    background-color: #cfc;
    border-right: 1px solid #b9e7b9;
  }
  .del > td:nth-child(1), .del > td:nth-child(2) {
    background-color: #fcc;
    border-right: 1px solid #e7baba;
  }

  td > div.add-comment {
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    margin-left: -16px;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(#5490ca, #4183c4);
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.5, 1.5);
    }
  }

  td > div.add-comment:before {
    font-weight: bold;
    content: '✚';
  }

  tr[data-location]:hover {
    > td > div.add-comment {
     visibility: visible;
    }
  }
  tr[class=info]:hover {
    > td > div.add-comment {
      visibility: hidden;
    }
  }

  tr > td.add-comment {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 0px 0px 10px 0px;
    }
  }

  tr td.reply {
    border-top: none;
  }


  tr.comment {
    td {
      font-family: sans-serif;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: white;

      &:first-child {
        font-family: FontAwesome;
        font-size: 16px;
        text-align: center;
        white-space: normal;
      }
    }

    td:nth-child(2) {
      white-space: normal;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

h2.comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3.comment-patch-update {
  font-size: 12px;
  text-align: center;
  color: #ccc;
  border-bottom: 1px dashed #ccc;
  line-height:1px;
  span {
    font-weight: normal;
    font-style: italic;
    background:#fff;
    padding:0 10px;
  }
}

.comment-box {
  font-size: 14px;
}

textarea.comment {
  clear: both;
  width: 100%;
  margin: 20px 10px 10px 10px;
}

div.comment {
  line-height: 18px;
  clear: both;

  + div {
    margin-top: 30px;
  }

  .avatar {
    float: left;
    margin-right: 10px;
    border-radius: 20px;
  }
  .comment-header {
    font-weight: bold;
    text-align: left;
    font-size: 12px;

    span {
      font-weight: normal;
      color: #ccc;
    }
  }

  .comment-body {
    text-align: left;
    font-size: 12px;
    padding-left: 50px;

    p {
      margin-top: 0px;
    }

    p+p {
      margin-top: 10px;
    }
  }

  a {
    i.fa.fa-link {
      font-size: 14px;
      float: right;
    }
  }
}

.mr-summary {
  float: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: whitesmoke;
}

.mr-summary span {
  font-weight: bold;
  &.accepted { color: green; }
  &.abandoned { color: red; }
  &.needs_rebase { color: blue; }
}

p + h2 {
  margin: 0px;
}

h2 {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
}

.patch-history {
  min-width: 980px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 0px;
  clear: both;

  .ci-link {
    cursor: pointer;
  }

  tr:nth-child(odd) {
    background-color: whitesmoke;
  }
  th {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
    padding: 0px 4px 0px 4px;
    white-space: nowrap;
  }
  td {
    font-size: 12px;
    line-height: 18px;
    padding: 0px 2px 0px 2px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
  }
  td:nth-child(1) {
    text-align: left;

    &.patch-history-submit {
      text-align: right;
    }
  }
  td:nth-child(2) {
    white-space: nowrap;
    text-align: center;
    width: 1px;
  }
  td:nth-child(3), td:nth-child(4) {
    width: 1px;
  }
  td:nth-child(5), td:nth-child(6) {
    width: 1px;
  }
}

.patch-history-submit {
  text-align: right;

  input {
    font-size: 10px;
    margin: 0px;
    padding: 4px;
  }
}

section.integrationlog {
  clear: both;
  code {
    display: block;
    white-space: pre-wrap;
    background-color: black;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #b2b2b2;
  }
}

.history_events {
  position: absolute;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
  max-height: 70vh;
  top: 15%;
  overflow-y: scroll;
}
