// Place all the styles related to the merge_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin button($color: #777777, $bordercolor: #dcdcdc, $bgcolor1: #ededed, $bgcolor2: #dfdfdf) {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, $bgcolor1 5%, $bgcolor2 100%);
  border-radius: 6px;
  border: 1px solid $bordercolor;
  display: inline-block;
  cursor: pointer;
  color: $color;
  font-family:arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;

  &:hover {
    background: linear-gradient(to bottom, $bgcolor2 5%, $bgcolor1 100%);
  }

  &:active {
    position:relative;
    top:1px;
  }
}

.button {
  @include button;
}

pre.message {
  font-family: sans-serif;
  white-space: pre-wrap;
}

.merge-bar {
  .comment {
    margin-left: 50px;
  }
  .accept {
    @include button(white, #83c41a, #b8e356, #a5cc52)
  }
  .reject {
    @include button(white, #d83526, #fc8d83, #e4685d)
  }
}

.code-review {
  width: 100%;
  border-spacing: 0px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;

  th {
    border-bottom: 1px solid #ccc;
    background-color: #eee;
  }

  tr > td:nth-child(1), tr > td:nth-child(2) {
    text-align: right;
    background-color: whitesmoke;
    border-right: 1px solid #ccc;
  }
  td {
    font-family: monospace;
    margin: 0;
    padding: 0;
    white-space: pre;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0px 6px 0px 6px;
  }
  .add > td:nth-child(3) {
    background-color: #cfd;
  }
  .add > td:nth-child(1), .add > td:nth-child(2) {
    background-color: #cfc;
    border-right: 1px solid #b9e7b9;
  }
  .del > td:nth-child(3) {
    background-color: #fdd;
  }
  .del > td:nth-child(1), .del > td:nth-child(2) {
    background-color: #fcc;
    border-right: 1px solid #e7baba;
  }
  .info > td:nth-child(3) {
    color: #ccc;
    background-color: #fafafa;
  }

  td > div.add-comment {
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    margin-left: -16px;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(#5490ca, #4183c4);
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.5, 1.5);
    }
  }

  td > div.add-comment:before {
    font-weight: bold;
    content: '✚';
  }

  tr:hover > td > div.add-comment {
   visibility: visible;
  }
}
