// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-list-container {
  > div:first-child {
    border-radius: 4px 4px 0px 0px;
  }
  > div:last-child {
    border-radius: 0px 0px 4px 4px;
  }
}

.review-list + .review-list {
  border-top: none;
}

.review-list {
  -webkit-transition: background-color .15s linear;
  -moz-transition: background-color .15s linear;
  transition: background-color .15s linear;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  border: 1px solid #e5e5e5;
  padding: 10px;
  color: #333;

  &:hover {
    color: #333;
    background-color: #f9f9f9;
    text-decoration: none;
  }

  .subject {
    font-weight: bold;
  }

  .summary {
    font-size: 12px;
    color: #999;
  }

  .target_branch {
    float: right;
  }

  &.review-list--success {
    background-color: #F1F8E9;

    &:hover {
      background-color: darken(#F1F8E9, 5%);
    }
  }

  &.review-list--failure {
    background-color: #FFEBEE;

    &:hover {
      background-color: darken(#FFEBEE, 5%);
    }
  }

  &.review-list--canceled {
    background-color: #EEEEEE;
    opacity: .8;

    &:hover {
      background-color: darken(#EEEEEE, 5%);
    }
  }
}

#project_destroy {
  float: right;
}

.project.name {
  color: #2a80b9;
  font-weight: bold;
  span {
    font-weight: normal;
    font-size: 0.8em;
  }
}

.project.description {
  font-style: italic;
  padding-left: 20px;
}
