// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-list-container {
  > div:first-child {
    border-radius: 4px 4px 0px 0px;
  }
  > div:last-child {
    border-radius: 0px 0px 4px 4px;
  }
}

.review-list-header {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  padding: 10px;
}

.review-list {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;

  border: 1px solid #e5e5e5;
  border-top: none;
  padding: 10px;

  a {
    color: #333;
    text-decoration: none;
  }

  .summary {
    font-size: 12px;
    color: #999;
    font-weight: normal;
  }
}

.review-list:hover {
  background-color: #f9f9f9;
}

code {
  font-size: 12px;
  font-family: monospace;
  background-color: #f8f8f8;
  padding: 3px;
}
