%link{ href: asset_pack_path('media/images/favicon/apple-touch-icon.png'), rel: 'apple-touch-icon', sizes: '144x144' }/
%link{ href: asset_pack_path('media/images/favicon/favicon-32x32.png'), rel: 'icon', sizes: '32x32', type: 'image/png' }/
%link{ href: asset_pack_path('media/images/favicon/favicon-16x16.png'), rel: 'icon', sizes: '16x16', type: 'image/png' }/
%link{ color: '#5bbad5', href: asset_pack_path('media/images/favicon/safari-pinned-tab.svg'), rel: 'mask-icon' }/
%link{ href: asset_pack_path('media/images/favicon/favicon.ico'), rel: 'shortcut icon' }/
%meta{ content: '#ffffff', name: 'theme-color' }/
