<html>
<head>
<style type="text/css">
p {
  color: #333;
}
code {
  color: #333;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fbfaf8;
  padding: 10px;
}
</style>
</head>
<body>
<%= yield %>
</body>
</html>
